#header-img {
  align-item: left;
  
}

h1 {
  text-align: center;
  font-size: 24px;
}

#form {
  paddin: auto;
}

#email {
  margin-left: 50%;
  font-size: 20px;
}

#submit {
  background-color: yellow;
  text-transform: uppercase;
  font-size: 18px; 
}

@media (max-width: 
800px) {
  body{
    background-color: gray;
  }
}

#nav-bar {
  display: flex;
}

footer {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
}
